<h1>Bleach Characters</h1>

<h3>Ichigo</h3>
    <%= image_tag('ichigo.jpg', size: "400x200") %>
    <p>Ichigo Kurosaki  is a fictional character in the Bleach manga series
    and its adaptations created by Tite Kubo. The protagonist of the series,
    Ichigo receives Soul Reaper powers as a result of a run-in with Rukia Kuchiki,
    the Soul Reaper assigned to patrol his city, the fictional Karakura Town.
    These powers come at the cost of Rukia's own, and as a result, Ichigo
    concedes to work as Rukia's stand-in, fighting to protect people from
    evil spirits called Hollows and sending good spirits, wholes, to Soul Society.</p>

<h3>Chad</h3>
    <%= image_tag('chad.jpg', size: "400x200") %>
    <p>Yasutora Sado is a fictional character in the anime and manga series
    Bleach created by Tite Kubo. He is an extremely tall teenager who studies
    in the same class as Ichigo Kurosaki. When first introduced, Chad had no
    special powers aside from his unusual strength and endurance. After his
    encounter with the parakeet containing the soul of Yūichi Shibata, he
    starts to detect the approximate locations of spirits and hollows, but
    cannot fully see them. Only after saving Karin Kurosaki from a hollow,
    during the hollow-slaying match between Uryū and Ichigo, does Chad begin
    to fully see spirits. This also awakens what Chad later learns to be his
    latent powers as a Fullbringer, a human who manipulates the soul of an
    object to its full potential as the result of absorbing residual spirit
    pressure from a Hollow while unborn.</p>

<h3>Rukia</h3>
    <%= image_tag('rukia.jpg', size: "400x200") %>
    <p>Rukia Kuchiki is a fictional character in the anime and manga series
    Bleach created by Tite Kubo. In the series, Rukia Kuchiki is a Soul Reaper
    in charge of slaying evil spirits known as Hollows. At the beginning, after
    a brief meeting with the protagonist of the series, Ichigo Kurosaki, who can
    see supernatural beings such as Soul Reapers, she is forced to give him her
    powers in order to fulfill her duties as a Soul Reaper.</p>

<h3>Ishida</h3>
    <%= image_tag('ishida.jpg', size: "400x200") %>
    <p>Uryū Ishida is a fictional character and major figure in the anime
    and manga series Bleach created by Tite Kubo. Uryū is introduced in the
    series as a classmate of the Soul Reaper Ichigo Kurosaki, who reveals himself
    to be a Quincy, a clan of humans which was destroyed by the Soul Reapers.
    Wanting to prove the Quincies were better, Uryū challenges Ichigo to see who
    could kill more Hollows. However, once they are overpowered and start working
    together, they start getting to know each other, to the point they become friends.
    Since then, Uryū appears in the series as an ally to Ichigo, accompanying him in
    every fight he has.</p>

<h3>Orihime</h3>
    <%= image_tag('orihime.jpg', size: "400x200") %>
    <p>Orihime Inoue is a fictional character in the Bleach manga series and its
    adaptations created by Tite Kubo. She is a classmate and friend of Ichigo
    Kurosaki, the main character of the series. Like many other friends of Ichigo,
    she quickly develops spiritual powers of her own after Ichigo becomes a Soul
    Reaper. Through the series, Orihime learns about Ichigo's duties as a Soul
    Reaper and decides to accompany him when he goes to Soul Society to save Rukia Kuchiki.</p>
