<h1>OTAKUTown</h1>

  <h3><%= link_to "One Piece", picture_onepiece_path %></h3>
  <%= link_to image_tag("onepiece.jpg", size: '260x180'), picture_onepiece_path %>

  <h3><%= link_to "Bleach", picture_bleach_path %></h3>
  <%= link_to image_tag("bleach.jpg", size: '260x180'), picture_bleach_path%>

  <h3><%= link_to "Naruto Shippuden", picture_naruto_path %></h3>
  <%= link_to image_tag("naruto.jpg", size: '260x180'), picture_naruto_path %>
