<h1>One Piece Characters</h1>

<h3>Luffy</h3>
    <%= image_tag('luffy.jpg', size: '400x200') %>
    <p>Monkey D. Luffy is the primary protagonist of the One Piece series.
    At the age of seven, he admires and tries to join the pirates of the
    "Red Haired" Shanks. Ridiculed and rejected, he inadvertently eats their
    treasure, the Paramecia-type Gum-Gum Fruit, which gives his body the
    properties of rubber. His reckless efforts ultimately lead him into grave
    peril and cause Shanks to lose an arm while rescuing him. After that,
    Luffy gives up on joining Shanks. Instead he resolves to start a crew of
    his own and become King of the Pirates.</p>

<h3>Zoro</h3>
    <%= image_tag('zoro.jpg', size: '400x200') %>
    <p>Roronoa Zoro is a swordsman who uses up to three swords simultaneously,
    holding one in each hand and a third in his mouth. To fulfill a promise to
    Kuina, his deceased childhood rival, he aims to replace "Hawk Eyes" Mihawk
    as the world's greatest swordsman.</p>

<h3>Nami</h3>
    <%= image_tag('nami.jpg', size: '400x200') %>
    <p>Adopted and raised by Navy seaman turned tangerine farmer Bellemere,
    Nami and her older sister Nojiko , have to witness their mother
    being murdered by the infamous Arlong, whose pirate gang occupies their
    island and extracts tribute from the population. Striking a deal with him,
    Nami, still a child but already an accomplished cartographer who dreams of
    drawing a complete map of the world, joins the pirates, hoping to eventually
    buy freedom for her village. Growing up as a pirate-hating pirate, drawing
    maps for Arlong and stealing treasure from other pirates, Nami becomes an
    excellent burglar, pickpocket and navigator with an exceptional ability to
    forecast weather. After Arlong betrays her, and he and his
    gang are defeated by the Straw Hat Pirates, Nami joins the latter in pursuit
    of her dream and acquires infamy herself as "Cat Burglar" Nami </p>

<h3>Brook</h3>
    <%= image_tag('brook.jpg', size: '400x200') %>
    <p>Already a pirate before the time of Roger, "Humming" Brook
     first enters the Grand Line as vice-captain
    of the music-themed Rumbar Pirates. Leaving their pet, the infant
    whale Laboon, behind at Reverse Mountain, they promise to return after
    sailing around the world. Instead, they are annihilated, with
    one exception. The power of the Paramecia-type Revive-Revive Fruit allows
    "Dead Bones" Brook to rise again and live a second life as a skeleton.
    Fifty years later, Brook's goal is still to fulfill his late crew's promise
    and to that end joins the Straw Hat Pirates.</p>

<h3>Franky</h3>
    <%= image_tag('franky.jpg', size: '400x200') %>
    <p>The son of pirate parents who abandon him at age ten, Cutty Flam ,
    nicknamed Franky, is taken in as an apprentice by a
    shipwright who secretly holds the plans for a devastating ancient weapon.
    Franky's recklessness eventually provides an opportunity to World Government
    agents seeking these plans.Attempting to rescue his master, Franky
    suffers severe injuries and only survives by rebuilding parts of his body using
    pieces of scrap metal, turning himself into a cola-powered cyborg with super-human
    strength. After gaining notoriety as "Cyborg" Franky
    and to fulfill his dream of sailing a ship he built around the world, he constructs
    the Thousand Sunny, a brigantine-rigged sloop-of-war, for the Straw Hat Pirates and joins the crew.</p>

<h3>Sanji</h3>
    <%= image_tag('sanji.jpg', size: '400x200') %>
    <p>While serving as an apprentice cook on a passenger ship, nine-year-old
    Sanji stands up to a boarding party of pirates led by the infamous "Red Foot"
    Zeff. During the encounter, Sanji is swept into
    the sea by a massive wave, but Zeff jumps after him because of their common
    dream of finding the All Blue, a legendary sea,
    containing every kind of fish in the world.</p>

<h3>Chopper</h3>
    <%= image_tag('chopper.jpg', size: '400x200') %>
    <p>Tony Tony "Cotton Candy Lover" Chopper is a doctor and a blue-nosed reindeer.
    The power of the Zoan-type Human-Human Fruit provides him with the ability
    to transform into a reindeer or a reindeer hybrid. A self-developed drug he
    calls Rumble Ball enables Chopper to perform
    even more transformations.</p>

<h3>Robin</h3>
    <p>Growing up in Ohara, home of the world's oldest and largest library,
    Nico Robin becomes an archaeologist at the age of eight. At some point
    she gains the power of the Paramecia-type Flower-Flower Fruit, which allows
    her to have temporary copies of parts of her body, including her eyes and
    ears, spring up on surfaces near her. Behind the backs of her teachers,
    she acquires from them the outlawed knowledge of how to translate the
    ancient stones called Poneglyph, which are scattered around the world,
    and comes to share their goal of finding the illusive Rio Poneglyph, which
    is said to tell the world's lost history.</p>

<h3>Usopp</h3>
    <p>During his early childhood, Usopp is abandoned by his father, Yasopp,
    who leaves to join the Red-Haired Pirates. Then, as Banchina, his mother,
    falls ill, Usopp starts telling tall tales, expressing his hope that his
    father would return and take them out to sea. Even after his mother dies,
    Usopp does not blame his father for leaving, but strives to become a great
    pirate himself, despite his cowardly disposition.</p>
